:root {
  --main-color: #2e2f42;
  --blue-color: #4d5ae5;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--main-color);
}

.bgc-scnd {
  background-color: var(--main-color);
}

/* logo */
.logo-main {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}
.logo-blue {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--blue-color);
}
/* site nav */
.header-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--main-color);
  font-weight: 600;
  font-size: 16px;
}

.adress {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.hover-nav:hover,
.hover-nav:focus {
  color: var(--blue-color);
}
/* buttons */
.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--blue-color);
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: #4d5ae5;
  color: #ffffff;
}

/* hero */
.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  color: var(--main-color);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.06;
  letter-spacing: 0.02em;
  color: #ffffff;
}
/* body */
.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

/* footer */
.footer {
  background-color: var(--main-color);
}
/* цвeт p> #434455
цвет h2> #2E2F42 */
.footer-txt {
  color: #e7e9fc;
  font-size: 16px;
  line-height: 1.5;
}
.footer-logo-white {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
